.badge {
  border: 0.0625rem solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  background-color: #f9f9f9;
}

.badge-label {
  margin-right: 0.25rem;
  font-weight: 600;
}

.badge-value {
  color: #333;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
